/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* Fonts */
@font-face {
    font-family: 'Northwell';
    src: url('../assets/fonts/Northwell.ttf') format('truetype');
    /* font-style: normal;
    font-weight: normal; */
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,100;1,300&display=swap');

/* Color palette */
*{
    --bg-color: white;
    --text-color: #18191F;
    --project-border-color: #18191F;
    --about-bg-color: #EECD28;
    --contactme-bg-color: #EECD28;
    --icons-blueclor: #0098BD;
    --button-blue: #0098BD;
    --orangine: #C75A3B;

    /* Dark */
    --dark-text-color: white;
    --dark-bg-color: #18191F;
    --dark-project-border-color: white;
    --dark-about-bg-color: #18191F;
    --dark-contactme-bg-color: #18191F;

}

/* Globals */
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: background 0.2s;
}
body.dark {
    color: var(--dark-text-color);
    background-color: var(--dark-bg-color);
}

a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: inherit;
}

.menu__mobile__hamburguer.dark {
    color: white;
}


/* =============== MOBILE ===============*/
@media (max-width: 768px) {

}
/* =============== DESKTOP MEDIUM ===============*/
@media (min-width: 769px) {
    /* Header presentation Section */
    header {
        min-height: 800px;
    }
    .presentation__container {
        display: flex;
        justify-content: center;
        margin: 100px 150px 150px 150px;
    }

    .presentation__container__text {
        width: 100%;
    }
    .presentation__container__text > h1 {
        font-size: 36px;
        font-weight: 800;
    }
    .presentation__container__text > p {
        font-family: 'Northwell', sans-serif;
        font-size: 150px;
        padding-top: 20px;
    }
    .presentation__container__text > h2 {
        font-size: 36px;
        font-weight: 800;
    }
    .presentation__container__text > h3 {
        font-size: 36px;
        font-style: italic;
        font-weight: 100;
    }

    .presentation__container__img {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .presentation__img {
        height: 400px;
    }

    /* About Section */
    #about {
        background-color: #EECD28;
        min-height: 800px;
        padding: 100px 150px 150px 150px;
    }
    #about.dark {
        background-color: var(--dark-bg-color);
    }

    .about__container{
        display: flex;
        gap: 100px;
    }


    .about__container__aboutme {
        width: 100%;
    }
    .about__container__aboutme > h1 {
        width: 100%;
        font-size: 36px;
    }
    .about__container__aboutme > p {
        font-size: 24px;
        padding-top: 50px;
        line-height: 40px;
    }
    .about__container__aboutme > div {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .about__container__aboutme > div > p {
        font-size: 24px;
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    .about__container__aboutme> div > button {
        background-image: url(../assets/images/icons/icon_circuleplus_b.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    .about__container__inmybackpack {
        width: 100%;
    }
    .about__container__inmybackpack h1 {
        font-size: 36px;
    }
    .about__container__inmybackpack > ul {
        width: 100%;
        font-size: 24px;
        padding-top: 50px;
        list-style-type: '✓ ';
    }
    .about__container__inmybackpack>ul>li {
        margin: 0px 0px 20px 20px;
    }
    .about__container__inmybackpack > ul > li > p,
    .about__container__inmybackpack > p {
        font-size: 24px;
        line-height: 40px;
    }
    .about__container__inmybackpack>div {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .about__container__inmybackpack>div>p {
        font-size: 24px;
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    .about__container__inmybackpack>div>button {
        background-image: url(../assets/images/icons/icon_circuleplus_b.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    .about__container__contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        font-size: 25px;
        font-weight: 800;

    }
    .about__container__contact > div {
        padding-top: 30px;
        display: flex;
        gap: 20px;
    }
    /* Portfolio Section */
    #portfolio {
        min-height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 150px 150px 150px;
    }
    .portfolio__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/images/portfolio-bg.png);
        width: 394px;
        height: 89px;
    }
    .portfolio__heading h1 {
        font-size: 36px;
    }
    .projects__container {
        padding-top: 100px;
        width: auto;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .project {
        width: 360px;
        height: 540px;
        border: 1px solid #18191F;
    }
    .project.dark {
        border: 1px solid white;
    }
    .project__header {
        display: flex;  
        height: 100px; 
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid var(--project-border-color);
    }
    .project__header__name {
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .project__header__name > p, h1 {
        font-weight: 800;
        font-size: 25px;
    }

    .project__header__links {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .project__img__filter {
        filter: url(#svgGradientMap);
        /* height: 184px; */
        
    }
    .project__img__filter > img {
        width: 100%;
  
    }
    .project__footer {
        height: 250px;
        display: flex;
        flex-direction: column;
    }
    .project__footer p {
        height: 200px;
        font-size: 25px;
        padding: 20px;
        text-align: justify;
        word-break: break-all;
    }
    .project__footer__techs {
        padding: 20px;
    }


    /* Contact me Section */
    #contactme {
        background-color: var(--contactme-bg-color);
        min-height: 500px;
        padding: 100px 150px 100px 150px;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    #contactme.dark {
        background-color: var(--dark-bg-color);
    }
    .contactme__heading {
        width: 40%;
    }
    .contactme__heading h1 {
        font-size: 36px;
    }
    .contactme__form {
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    form {
        display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 15px;
    }
    form :nth-child(1) {
        width: 60%;
        height: 40px;
        border-radius: 7px;
        border: 0;
        outline: 0;
        padding: 10px;
        font-size: 20px;
        font-family: 'Montserrat';
    }
    form :nth-child(1):focus {
        outline: 2px dashed var(--project-border-color);
    }
    form :nth-child(1):focus.dark {
        outline: 2px dashed var(--dark-project-border-color);
    }
    form :nth-child(2) {
        width: 60%;
        height: 40px;
        border-radius: 7px;
        border: 0;
        outline: 0;
        padding: 10px;
        font-size: 20px;
        font-family: 'Montserrat';
    }
    form :nth-child(2):focus {
        outline: 2px dashed var(--project-border-color);
    }
    form :nth-child(2):focus.dark {
        outline: 2px dashed var(--dark-project-border-color);
    }
    form textarea {
        width: 100%;
        border-radius: 7px;
        border: 0;
        outline: 0;
        padding: 10px;
        font-size: 20px;
        font-family: 'Montserrat';

    }
    form textarea:focus {
        outline: 2px dashed var(--project-border-color);
    }
    form textarea:focus.dark {
        outline: 2px dashed var(--dark-project-border-color);
    }
    form input[type="submit"] {
        width: 130px;
        height: 40px;
        border-radius: 7px;
        border: 0;
        outline: 0;
        background-color: var(--button-blue);
        font-size: 24px;
        cursor: pointer;
        
    }
    /* Footer section */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/images/footer-1440.png);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;

        height: 164px;
    }
    .footer__container__contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100%;


    }


}