
.checkbox__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}
.checkbox {
    opacity: 0;
}

.label {
    width: 50px;
    height: 26px;
    background-color: rgb(114, 110, 110);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: pink;

}

.fa-sun {
    color: yellow;
}
.checkbox__moon, .checkbox__sun {
    height: 15px;
}
@media (max-width: 768px) {

    .checkbox__container {
        display: none;
    }

}